/* Generic text content formatting, for content that comes out of CMSes etc */
.b-content {
  code {
    font-size: 87.5%;
    white-space: pre-wrap;
  }

  pre {
    padding: 0.5rem;
    background: $black;
  }

  .content {
    &:not(:last-child) {
      margin-bottom: 20px;
    }

    li + li {
      margin-top: 0.25rem;
    }

    /* Block */
    blockquote,
    p,
    ol,
    ul {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $black;
      font-weight: 300;
      line-height: 1.125;
      margin-bottom: 1.5rem;
    }
    h1,
    h2,
    h3 {
      &:not(:first-child) {
        margin-top: 2rem;
      }
    }
    blockquote {
      background: $grey-light;
      border-left: 5px solid $grey-dark;
      padding: 1.5rem;
    }
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.75rem;
    }
    h3 {
      font-size: 1.5em;
    }
    h4 {
      font-size: 1.25rem;
    }
    h5 {
      font-size: 1.125rem;
    }
    h6 {
      font-size: 1rem;
    }
    ol {
      list-style: decimal outside;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: 1rem;
    }
    ul {
      list-style: disc outside;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: 1rem;
      ul {
        list-style-type: circle;
        margin-top: 0.5rem;
        ul {
          list-style-type: square;
        }
      }
    }
  }
}
