html {
  font-size: ($base-font-size / 16px) * 1em;
  font-weight: $base-font-weight;
  font-family: $base-font-family;
  line-height: $base-line-height / $base-font-size;
  background: $base-colour-background;
  color: #eee;
  overflow-y: scroll;
  min-height: 100%;
}

body {
  min-height: 100vh;
}
