@font-face {
  font-family: "Slate W01_n2";
  src: url("/static/fonts/3dc533c3-745d-41d7-9d0a-165a623cec9b.eot?#iefix") format("eot");
}

/* Regular */
@font-face {
  font-family: "Slate W01";
  src: url("/static/fonts/3dc533c3-745d-41d7-9d0a-165a623cec9b.eot?#iefix");
  src: url("/static/fonts/3dc533c3-745d-41d7-9d0a-165a623cec9b.eot?#iefix") format("eot"), url("/static/fonts/443ceb9a-576f-4f01-8072-1b5e16848faa.woff2") format("woff2"), url("/static/fonts/8d90dadd-915f-4838-b610-4fb8cad8a324.woff") format("woff"), url("/static/fonts/90fe9ab9-afc5-43ca-9bb7-564a82045808.ttf") format("truetype"), url("/static/fonts/90170f09-fd56-4d81-9183-89f4d3023375.svg#90170f09-fd56-4d81-9183-89f4d3023375") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Slate W01_i2";
  src: url("/static/fonts/3068eaa6-2d16-45d7-9d13-b00b81e5705d.eot?#iefix") format("eot");
}

/* Italic */
@font-face {
  font-family: "Slate W01";
  src: url("/static/fonts/3068eaa6-2d16-45d7-9d13-b00b81e5705d.eot?#iefix");
  src: url("/static/fonts/3068eaa6-2d16-45d7-9d13-b00b81e5705d.eot?#iefix") format("eot"), url("/static/fonts/677f0ee2-30de-45fc-aead-44ce6f995069.woff2") format("woff2"), url("/static/fonts/514fad5e-2c05-4493-94a2-bd308ad36e53.woff") format("woff"), url("/static/fonts/10a18c50-a953-44f7-a292-77744fd28f9c.ttf") format("truetype"), url("/static/fonts/0fcb97c8-ff58-4a2f-86c1-ef8ba4d2cfea.svg#0fcb97c8-ff58-4a2f-86c1-ef8ba4d2cfea") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Slate W01_n5";
  src: url("/static/fonts/6c114a84-aeac-4533-a8f3-798922cc0300.eot?#iefix") format("eot");
}

/* Medium */
@font-face {
  font-family: "Slate W01";
  src: url("/static/fonts/6c114a84-aeac-4533-a8f3-798922cc0300.eot?#iefix");
  src: url("/static/fonts/6c114a84-aeac-4533-a8f3-798922cc0300.eot?#iefix") format("eot"), url("/static/fonts/8df29452-77ca-4e75-9e4b-d1783379751b.woff2") format("woff2"), url("/static/fonts/90807bcf-e7e3-43ac-9ebb-a96364087325.woff") format("woff"), url("/static/fonts/389822d1-6f97-438c-a4a1-5f97d1005a3f.ttf") format("truetype"), url("/static/fonts/e2bc308f-8bfe-48a1-89d7-a5a8ac370ff0.svg#e2bc308f-8bfe-48a1-89d7-a5a8ac370ff0") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Slate W01_i5";
  src: url("/static/fonts/7ebd6be5-d902-4431-9798-f02eb003d771.eot?#iefix") format("eot");
}

/* Medium italic */
@font-face {
  font-family: "Slate W01";
  src: url("/static/fonts/7ebd6be5-d902-4431-9798-f02eb003d771.eot?#iefix");
  src: url("/static/fonts/7ebd6be5-d902-4431-9798-f02eb003d771.eot?#iefix") format("eot"), url("/static/fonts/03034b79-99a1-4817-9fba-d50f4737fbf2.woff2") format("woff2"), url("/static/fonts/2be5690c-8be4-41d9-90f1-bda9a497f4a5.woff") format("woff"), url("/static/fonts/914a7465-15fb-4335-b053-d51347db7f70.ttf") format("truetype"), url("/static/fonts/a310d281-7e9b-4b19-a94a-6a109a390385.svg#a310d281-7e9b-4b19-a94a-6a109a390385") format("svg");
  font-weight: 500;
  font-style: italic;
}
