.c-message {
  border: 1px solid $grey-light;

  .c-message__header {
    padding: 0 0.5rem;
    background: $grey-dark;
    color: $grey-lighter;
  }

  .c-message__body {
    padding: 0.5rem;
  }

  &--error {
    border-color: $colour-danger;

    .c-message__header {
      background: $colour-danger;
      color: $colour-danger-invert;
    }
  }

  &--success {
    border-color: $colour-success;

    .c-message__header {
      background: $colour-success;
      color: $colour-success-invert;
    }
  }
}
