.c-modal {
  @include overlay();
  align-items: center;
  display: none;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: 1986;

  &--active {
    display: flex;
  }

  .c-modal__background {
    @include overlay();
    background: rgba(0, 0, 0, 0.86);
  }

  .c-modal__content {
    margin: 0 20px;
    max-height: calc(100vh - 160px);
    overflow: auto;
    position: relative;
    width: 100%;
    max-width: 75rem;
  }

  .c-modal__close {
    @include unselectable();
    background: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 290486px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    position: relative;
    width: 24px;

    &::before,
    &::after {
      background: white;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      margin-left: -25%;
      margin-top: -1px;
      position: absolute;
      top: 50%;
      width: 50%;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover {
      background: rgba(0, 0, 0, 0.5);
    }

    background: none;
    height: 40px;
    position: fixed;
    right: 20px;
    top: 20px;
    width: 40px;
  }
}
