.c-control {
  &--addons {
    display: flex;
    align-items: flex-start;
    border-radius: 0;

    :first-child {
      border-radius: $radius 0 0 $radius;
      select {
        border-radius: $radius 0 0 $radius;
      }
    }
    :last-child {
      border-radius: 0 $radius $radius 0;
      select {
        border-radius: 0 $radius $radius 0;
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.c-textarea,
.c-input, {
  @include control();
  border: thin solid $grey-light;

  max-width: 100%;
  width: 100%;

  &--error {
    border: thin solid $colour-danger;
  }
}

.c-textarea {
  display: block;
  line-height: 1.2;
  max-height: 600px;
  max-width: 100%;
  min-height: 120px;
  min-width: 100%;
  padding: 10px;
  resize: vertical;
}

.c-label {
  font-weight: 500;
  display: block;
}

.c-help {
  display: block;
  font-size: 0.75rem;
}
