.c-button {
  @include control();
  @include unselectable();

  color: $colour-primary;
  background: $colour-primary-invert;

  font-size: 0.85rem;
  font-weight: 500;

  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  white-space: nowrap;

  &:hover,
  &:focus,
  &--active {
    color: $grey-light;
  }
  &:active {
    box-shadow: inset 0 1px 2px rgba($black, 0.2);
  }
}

.c-button--light {
  color: $colour-primary-invert;
  background: $colour-primary;
}

.c-button--link {
  color: $colour-primary-invert;
  background: transparent;
  border: 1px solid transparent;

  &:hover {
    text-decoration: underline;
  }
}

.c-button--danger {
  color: $colour-danger-invert;
  background: $colour-danger;
}

.c-button--outline {
  border: 1px solid $base-colour-text;
}
