.c-menu {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;

  .c-menu__item {
    border-radius: $radius;
    color: $base-colour-text;
    display: block;
    padding: 5px 10px;

    &--active {
      background: $base-colour-link;
      color: $base-colour-link-invert;
    }
  }
}
