h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
blockquote,
p,
address,
hr,
table,
fieldset,
figure,
pre {
  margin-bottom: $base-spacing-unit;
  margin-bottom: ($base-spacing-unit / $base-font-size) * 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

ul,
ol,
dd {
  margin-left: 2 * $base-spacing-unit;
  margin-left: (2 * $base-spacing-unit / $base-font-size) * 1rem;
}
