/* Hacks are high-specificity overrides and helper classes.
 * IT'S OK TO USE !important HERE. No really! Don't go crazy.
 */

/* stylelint-disable declaration-no-important */
.is-hidden {
  display: none !important;
}

/* For flexbox containers, adds wrapping */
.is-multiline {
  flex-wrap: wrap;
}

.is-active {
  background: $colour-highlight !important;
}

.is-pulled-right {
  float: right;
}

.has-text-right {
  text-align: right;
}

.is-danger {
  color: $colour-danger;
}

.is-success {
  color: $colour-success;
}

.c-modal__content > .c-message {
  .c-button--link {
    color: $white;
  }
}
