.o-grid {
  display: flex;

  &--wrap {
    flex-wrap: wrap;
  }
}

.o-vertical-grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &--fullheight {
    min-height: calc(100vh - 6rem);
  }
}

.o-grid__item {
  flex: 1 1 auto;

  &--compact {
    flex: 0 1 auto;
  }
}

.o-grid__item--1\/4 {
  width: 25%;
  padding-right: 1rem;
  margin-bottom: 1rem;

  &:nth-of-type(4n) {
    padding-right: 0;
  }
}

.o-grid__item--1\/2 {
  max-width: 50%;
  padding-right: 1rem;
  margin-bottom: 1rem;

  &:nth-of-type(2n) {
    padding-right: 0;
  }
}

.o-grid__item--3\/4 {
  width: 75%;
  padding-right: 1rem;
  margin-bottom: 1rem;
}

.o-grid__item--1\/3 {
  width: 33.333%;
  padding-right: 1rem;
  margin-bottom: 1rem;

  &:nth-of-type(3n) {
    padding-right: 0;
  }
}

.o-grid__item--2\/3 {
  width: 66.666%;
  padding-right: 1rem;
  margin-bottom: 1rem;
}

.o-grid__item--1\/4offset {
  margin-left: 25%;
}
