/* You might be staring at these and seeing that some of these refer to others in ways that can't possibly work.
 * Well you're right. They just fall back to defaults. The point is that you can override all of these by setting
 * them first, and if you do, the ones you don't define will try to relate themselves to each other nicely.
 */

$base-ratio: 1.5 !default;
$base-font-size: 16px !default;
$base-line-height: $base-font-size * $base-ratio !default;
$base-ratio: $base-line-height / $base-font-size !default;
$base-spacing-unit: $base-line-height !default;
$base-grid-gutter: $base-spacing-unit !default;
$radius: 0.25rem;
