$black: #111 !default;
$grey-darker: #222324 !default;
$grey-dark: #69707a !default;
$grey: #aeb1b5 !default;
$grey-light: #d3d6db !default;
$grey-lighter: #f5f7fa !default;
$white: #fff !default;

$colour-primary-invert: rgb(60, 70, 76);
$colour-primary: #eee;
$colour-danger-invert: #fff;
$colour-danger: rgb(206, 11, 36);
$colour-success-invert: #fff;
$colour-success: #81d135;
$colour-highlight: #81d135;
$colour-hover: #ddd;

$base-colour-background: $colour-primary-invert;
$base-colour-link: rgb(93, 166, 231) !default;
$base-colour-link-invert: $black !default;
$base-colour-text: $colour-primary;

$base-colour-control-border: $colour-primary;
$base-colour-control-hover: $colour-hover;

$tag-background-colour: rgb(132, 142, 144);
$tag-foreground-colour: $white;

$article-colour-actions: $black;

$card-content-colour: rgb(92, 92, 92);
