@mixin control {
  appearance: none;
  align-items: center;
  border: 1px solid transparent;
  border-radius: $radius;
  display: inline-flex;
  height: 32px;
  justify-content: flex-start;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  vertical-align: top;

  &:active,
  &:focus,
  &.is-active {
    border-color: lighten($base-colour-control-border, 10%);
    outline: none;
  }
}

@mixin unselectable {
  user-select: none;
  appearance: none;
}

@mixin overlay($offset: 0) {
  bottom: $offset;
  left: $offset;
  position: absolute;
  right: $offset;
  top: $offset;
}
