<style lang="scss">
@import 'css/main.scss';
</style>

<template>
  <div class="app">
    <app-header></app-header>

    <router-view></router-view>
  </div>
</template>

<script>
  import store from './vuex/store';
  import appHeader from './components/app-header.vue';

  export default {
    store,
    components: {
      appHeader,
    },
  };
</script>
