<template>
  <div class="o-container account">
    <h1>Account: {{ profile.username }}</h1>

    <div class="o-grid">
      <div class="o-grid__item">
        <article class="c-box">
          <h2>Change password</h2>

          <div class="c-message c-message--success" v-if="serverPasswordSuccess">
            <div class="c-message__header">Success</div>
            <p class="c-message__body">Your new password was saved.</p>
          </div>

          <div class="c-message c-message--error" v-if="serverPasswordError">
            <div class="c-message__header">Sorry</div>
            <p class="c-message__body">{{ serverPasswordError }}</p>
          </div>

          <form @submit.prevent="savePassword">
            <p class="c-control">
              <label class="c-label">Current password</label>
              <input class="c-input" :class="{ 'c-input--error': serverPasswordError }" type="password" name="old" @input="updateOldPw" :value="oldPassword">
              <span v-if="serverPasswordError" class="c-help is-danger">{{ serverPasswordError }}</span>
            </p>

            <p class="c-control">
              <label class="c-label">New password</label>
              <input class="c-input" :class="{ 'c-input--error': newPasswordError, 'is-success': !newPasswordError && newPassword1 }" type="password" name="new1" @input="updateNewPw1" :value="newPassword1">
              <span v-if="newPasswordError" class="c-help is-danger">{{{ newPasswordError }}}</span>
            </p>

            <p class="c-control">
              <label class="c-label">Confirm</label>
              <input class="c-input" :class="{ 'c-input--error': newPasswordError || (newPassword1 && !newPassword2) }" type="password" name="new2" @input="updateNewPw2" :value="newPassword2">
            </p>
            <p class="c-control">
              <button class="c-button" type="submit">Save</button>
            </p>
          </form>
        </article>
      </div>
      <div class="o-grid__item">

        <article class="c-box">
          <h2>Create new user</h2>

          <div class="c-message c-message--success" v-if="newUserSuccess">
            <div class="c-message__header">Success</div>
            <p class="c-message__body">User created</p>
          </div>

          <div class="c-message c-message--error" v-if="newUserError">
            <div class="c-message__header">Sorry</div>
            <p class="c-message__body">{{ newUserError }}</p>
          </div>

          <form @submit.prevent="createUser">
            <p class="control">
              <label class="c-label">Username</label>
              <input class="c-input" type="text" name="username" v-model="newUsername">
            </p>
            <p class="control">
              <label class="c-label">Password</label>
              <input class="c-input" type="text" name="password" v-model="newUserPassword">
            </p>
            <p class="control">
              <button class="c-button" type="submit">Save</button>
            </p>
          </form>
        </article>

        <article class="c-box">
          <h2>Current users</h2>
          <ul>
            <li v-for="user in userList">{{ user }}</li>
          </ul>
        </article>
      </div>
    </div>
  </div>

</template>

<style lang="scss">
.account {
  .c-box {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
</style>

<script>
import { loadProfile } from '../vuex/actions.js';
import * as userService from '../services/user.js';

export default {
  route: {
    data(transition) {
      this.loadProfile();
      transition.next();
    },
    activate() {
      this.listUsers();
    },
  },
  data() {
    return {
      serverPasswordError: '',
      serverPasswordSuccess: false,
      newUsername: '',
      newUserPassword: '',
      newUserSuccess: false,
      newUserError: '',
      userList: [],
    };
  },
  vuex: {
    getters: {
      profile: ({ user }) => user.profile,
      oldPassword: ({ user }) => user.password.old,
      newPassword1: ({ user }) => user.password.new1,
      newPassword2: ({ user }) => user.password.new2,
      newPasswordError({ user }) {
        const errors = [];
        if (user.password.new2 && user.password.new1 !== user.password.new2) {
          errors.push('Passwords don\'t match');
        }

        if (user.password.new1.length && user.password.new1.length < 8) {
          errors.push('Password should be longer');
        }

        return errors.length ? errors.join('<br>') : null;
      },
    },
    actions: {
      loadProfile,
      updateOldPw: ({ dispatch }, e) => {
        dispatch('UPDATE_PASSWORD', {
          type: 'old',
          password: e.target.value,
        });
      },
      updateNewPw1: ({ dispatch }, e) => {
        dispatch('UPDATE_PASSWORD', {
          type: 'new1',
          password: e.target.value,
        });
      },
      updateNewPw2: ({ dispatch }, e) => {
        dispatch('UPDATE_PASSWORD', {
          type: 'new2',
          password: e.target.value,
        });
      },
    },
  },
  methods: {
    savePassword() {
      this.serverPasswordSuccess = false;
      this.serverPasswordError = '';
      userService.changePassword(this.oldPassword, this.newPassword1).then(() => {
        this.serverPasswordSuccess = true;
      }).catch((err) => {
        this.serverPasswordError = err.data.data.detail;
      });
    },
    createUser() {
      this.newUserSuccess = false;
      this.newUserError = '';

      userService.createUser(this.newUsername, this.newUserPassword).then(() => {
        this.newUserSuccess = true;
        this.listUsers();
      }).catch((err) => {
        this.newUserSuccess = false;
        this.newUserError = err.data.data.detail;
      });
    },
    listUsers() {
      userService.listUsers().then((users) => {
        this.userList = users.map((profile) => profile.username);
      });
    },
  },
};
</script>