<template>
  <div id="app" class="o-container o-container--wide">
    <note-form></note-form>

    <h2 class="section-title">You might like… <a class="section-title__morelink" v-link="{ name: 'suggestions' }">See all</a></h2>
    <card-list :cards="getSuggestions"></card-list>

    <h2 class="section-title">What's new <a class="section-title__morelink" v-link="{ name: 'latest' }">See all</a></h2>
    <card-list :cards="getLatest"></card-list>

    <h2 class="section-title">Stuff you marked useful <a class="section-title__morelink" v-link="{ name: 'useful' }">See all</a></h2>
    <card-list :cards="getUseful"></card-list>

    <h2 class="section-title">Stuff you added <a class="section-title__morelink" v-link="{ name: 'my-cards' }">See all</a></h2>
    <card-list :cards="getOwn"></card-list>

  </div>
</template>

<style>
  .section-title {
    margin-top: 2rem;
    margin-bottom: .5rem;
    font-size: 1.8rem;

    & .section-title__morelink {
      font-size: 1rem;
      float: right;
    }
  }
</style>


<script>
  import cardList from '../components/cards.vue';
  import noteForm from '../components/new-note.vue';
  import {
    loadLatest,
    loadSuggestions,
    loadUseful,
    loadOwn,
    clearCurrentCard,
  } from '../vuex/actions.js';

  export default {
    // When loading this component, call the actions which will update the state
    route: {
      data(transition) {
        this.loadLatest(4);
        this.loadSuggestions(4);
        this.loadUseful(4);
        this.loadOwn(4);
        this.clearCurrentCard();
        transition.next();
      },
    },
    // Declare the components this page uses
    components: {
      cardList,
      noteForm,
    },
    vuex: {
      // Declare the vuex actions which will update the state
      actions: {
        clearCurrentCard,
        loadLatest,
        loadSuggestions,
        loadOwn,
        loadUseful,
      },
      // Retrieve the state to display it
      getters: {
        getLatest: (state) => state.latest.data,
        getSuggestions: (state) => state.suggestions.data,
        getUseful: (state) => state.useful.data,
        getOwn: (state) => state.own.data,
      },
    },
  };
</script>
