<template>
  <div class="o-grid">
    <div class="o-grid__item o-grid__item--1/2 o-grid__item--1/4offset">

      <div class="c-message c-message--error">
        <div class="c-message__header">
          Error
        </div>
        <div class="c-message__body">
          <p>Your login session expired. <a v-link="{ name: 'home' }">Click here to log back in</a>.</p>
        </div>
      </div>

    </div>
  </div>
</template>
