<template>
  <div class="o-grid">
    <div class="o-grid__item o-grid__item--1/2 o-grid__item--1/4offset">

      <form class="c-box" v-on:submit.prevent="doAuth">
        <label class="c-label">Username</label>
        <p class="c-control">
          <input class="c-input" type="text" v-model="credentials.username">
        </p>
      
        <label class="c-label">Password</label>
        <p class="c-control">
          <input class="c-input" type="password" v-model="credentials.password">
        </p>

        <p class="c-control">
          <button class="c-button" type="submit">Log in</button>
        </p>
      </form>

      <div class="c-message c-message--error" v-if="error">
        <div class="c-message__header">
          Error
        </div>
        <div class="c-message__body">
          {{ error }}
        </div>
      </div>

    </div>
  </div>
</template>


<script>
import { login } from '../vuex/actions';

export default {
  // Internal state
  data() {
    return {
      credentials: {
        username: '',
        password: '',
      },
      error: '',
      returnTo: null,
    };
  },
  vuex: {
    actions: {
      login,
    },
  },
  // Pluck the return-to address from the query string when this component loads
  route: {
    data({ next, to }) {
      next({
        returnTo: this.validateReturnPath(to.query.backTo || '/'),
      });
    },
  },
  methods: {
    doAuth() {
      this.error = '';
      this.login(this.credentials).then(() => {
        this.$router.go({ path: this.returnTo });
      }).catch((errorResponse) => {
        this.error = errorResponse.data.message;
      });
    },
    // Check that the given return path is reasonable
    validateReturnPath(path) {
      // Must be a root-relative path
      if (path.indexOf('/') !== 0) {
        return '/';
      }

      // Tried using a schema-relative path. Deny that.
      if (path.substr(0, 2) === '//') {
        return '/';
      }

      // Otherwise probably ok for now
      return path;
    },
  },
};
</script>
