<template>
  <div class="o-container o-container--wide">
    <h1>Search: “{{ query }}” ({{ total }})</h1>

    <card-list :cards="getCards" multiline="true"></card-list>

    <nav class="pagination">
      <a v-if="previousPage" v-link="{ name: 'search', query: { q: query, page: previousPage}}" class="c-button c-button--light">Previous page</a>
      <a v-if="nextPage" v-link="{ name: 'search', query: { q: query, page: nextPage}}" class="c-button c-button--light">Next page</a>
      <ul>
        <li><a>{{ currentPage }}</a></li>
      </ul>
    </nav>
  </div>
</template>

<script>
  import cardList from '../components/cards.vue';
  import { search } from '../services/cards.js';
  
  export default {
    data() {
      return {
        query: 'Loading…',
      };
    },
    route: {
      data(transition) {
        this.setPage(transition.to.query.q, transition.to.query.page || 1);

        return {
          query: transition.to.query.q,
        };
      },
    },
    components: {
      cardList,
    },
    vuex: {
      actions: {
        loadByQuery: (store, query, limit = 10, page = 1) => search(query, limit, page)
        .then((cardData) => {
          store.dispatch({
            type: 'UPDATE_CARDS',
            payload: {
              type: 'searchResults',
              data: cardData.data,
            },
          });

          store.dispatch('UPDATE_CARDS_META', {
            type: 'searchResults',
            data: cardData.meta,
          });
        }),
      },
      getters: {
        getCards: (state) => state.searchResults.data,
        total: (state) => state.searchResults.meta.count,
        currentPage: (state) => state.searchResults.meta.page,
        nextPage: (state) => state.searchResults.meta.nextPage,
        previousPage: (state) => state.searchResults.meta.previousPage,
        limit: (state) => state.searchResults.meta.limit,
      },
    },
    methods: {
      setPage(query, page) {
        this.loadByQuery(query, this.limit, page);
      },
    },
  };
</script>
