<template>
  <div class="o-container o-container--wide">
    <h1>Tag: “{{ tag }}” ({{ total }})</h1>

    <card-list :cards="getCards" multiline="true"></card-list>

    <nav class="pagination">
      <a v-if="previousPage" v-link="{ name: 'tag', params: { tag: tag }, query: { page: previousPage } }" class="c-button c-button--light">Previous page</a>
      <ul>
        <li><a>{{ currentPage }}</a></li>
      </ul>
      <a v-if="nextPage" v-link="{ name: 'tag', params: { tag: tag }, query: { page: nextPage } }" class="c-button c-button--light">Next page</a>
    </nav>
  </div>
</template>

<script>
  import cardList from '../components/cards.vue';
  import { loadByTag } from '../vuex/actions.js';
  
  export default {
    data() {
      return {
        tag: 'Loading…',
      };
    },
    route: {
      data(transition) {
        this.setPage(transition.to.params.tag, transition.to.query.page || 1);

        return {
          tag: transition.to.params.tag,
        };
      },
    },
    components: {
      cardList,
    },
    vuex: {
      actions: {
        loadByTag,
      },
      getters: {
        getCards: (state) => state.currentTag.data,
        total: (state) => state.currentTag.meta.count,
        currentPage: (state) => state.currentTag.meta.page,
        nextPage: (state) => state.currentTag.meta.nextPage,
        previousPage: (state) => state.currentTag.meta.previousPage,
        limit: (state) => state.currentTag.meta.limit,
      },
    },
    methods: {
      setPage(tag, page) {
        this.loadByTag(tag, this.limit, page);
      },
    },
  };
</script>
