<template>
  <div class="o-container o-container--wide">
    <h1>Cards you've marked useful ({{ total }})</h1>

    <card-list :cards="getCards" multiline="true"></card-list>

    <nav class="pagination">
      <a v-if="previousPage" v-link="{ name: 'useful', query: { page: previousPage }}" class="c-button c-button--light">Previous</a>
      <ul>
        <li><a>{{ currentPage }}</a></li>
      </ul>
      <a v-if="nextPage" v-link="{ name: 'useful', query: { page: nextPage }}" class="c-button c-button--light">Next page</a>
    </nav>
  </div>
</template>

<script>
  import cardList from '../components/cards.vue';
  import { loadUseful } from '../vuex/actions.js';
  
  export default {
    route: {
      data(transition) {
        this.setPage(transition.to.query.page || 1);

        transition.next();
      },
    },
    components: {
      cardList,
    },
    vuex: {
      actions: {
        loadUseful,
      },
      getters: {
        getCards: (state) => state.useful.data,
        total: (state) => state.useful.meta.count,
        currentPage: (state) => state.useful.meta.page,
        nextPage: (state) => state.useful.meta.nextPage,
        previousPage: (state) => state.useful.meta.previousPage,
        limit: (state) => state.useful.meta.limit,
      },
    },
    methods: {
      setPage(page) {
        this.loadUseful(this.limit, page);
      },
    },
  };
</script>
