<template>
  <section>
    <div class="o-vertical-grid o-vertical-grid--fullheight">

      <article class="article o-container o-grid__item">
        <h2 class="article__title">{{ card.title }}</h2>
        <div class="article__meta">
          <div class="article__meta__item"><strong>Added by:</strong> {{ card.owner.data.username }}</div>
          <div class="article__meta__item">{{ dateFormatted(card.created) }}</div>
        </div>

        <div class="b-content article__content">
          {{{ formattedContent }}}
        </div>

        <div class="article__tags">
          <p class="article__tags__title">Tags:</p>
          <tag-list :tags="card.tags"></tag-list>
        </div>

        <div class="article__urls" v-if="urls">
          <h2 class="article__urls__title">Links in this article</h2>

          <div class="o-grid o-grid--wrap">
            <div class="o-grid__item o-grid__item--1/3" v-for="url in urls">
              <a 
                :href="url"
                class="embedly-card"
                data-card-controls="0"
                data-card-align="left"
                data-card-theme="dark">{{ url }}</a>
            </div>
          </div>
        </div>
      </article>

      <div class="article-actions o-grid__item--compact">
        <menu class="article-actions__container">
          <li class="article-actions__action"><a class="c-button c-button--light " @click.prevent="showEditModal">Edit</a></li>
          <li class="article-actions__action"><a class="c-button c-button--danger " @click.prevent="deleteModalVisible = true">Delete</a></li>
          <li class="article-actions__action">
            <a v-if="!card.markedUsefulByUser" class="c-button c-button--light" @click.prevent="setUseful">Mark as useful</a>
            <a v-if="card.markedUsefulByUser" class="c-button c-button--light is-active" @click.prevent="setUseless">Marked as useful</a>
          </li>
          <li class="article-actions__action">
            Last marked useful: {{ dateFormatted(card.lastMarkedUseful) }}
          </li>
        </menu>
      </div>
    </div>

    <div class="c-modal" :class="{ 'c-modal--active': deleteModalVisible }">
      <div class="c-modal__background"></div>

      <div class="c-modal__content">
        
        <div class="c-message c-message--error">
          <div class="c-message__header">
            Are you sure?
          </div>
          <div class="c-message__body">
            <p>Deleted cards can't be recovered.</p>

            <p v-if="error" class="is-danger">{{ error }}</p>

            <p class="has-text-right">
              <button class="c-button c-button--danger" @click.prevent="doDelete">Yes, delete</button>
              <button class="c-button c-button--link" @click.prevent="deleteModalVisible = false">Never mind</button>
            </p>
          </div>
          
        </div>
      </div>
      <button class="c-modal__close" @click.prevent="deleteModalVisible = false"></button>
    </div>

    <div class="c-modal" :class="{ 'c-modal--active': editModalVisible }">
      <div class="c-modal__background"></div>

      <div class="c-modal__content">

        <div class="c-box">
          <note-form></note-form>
        </div>

      </div>

      <button class="c-modal__close" @click.prevent="hideEditModal"></button>
    </div>

  </section>
</template>

<style lang="scss">
@import '../css/_settings.colours.scss';

/* Article (card view) */
.article {
  .article__title {
    font-size: 1.6rem;
    font-weight: 200;
    margin-bottom: 0;
  }

  .article__content {
    margin-top: 1rem;
  }

  .article__urls {
    margin-top: 1rem;
    border-top: thin solid $base-colour-control-border;

    &__title {
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }

  .article__tags {
    margin-top: 1rem;
    border-top: thin solid $base-colour-control-border;

    &__title {
      margin: .5rem 0;
    }
  }

  .article__meta {
    display: flex;
    justify-content: flex-start;
    

    &__item {
      flex: 0 1 auto;
      margin-right: 2rem;
    }
  }
}

.article-actions {
  background: $article-colour-actions;
  padding: .5rem;
  margin-bottom: 0;

  &__container {
    margin: .5rem auto .5rem 4rem;
  }

  &__action {
    list-style-type: none;
    display: inline-block;
    margin-right: 1rem;
  }
}

.delete-message {
  max-width: 30rem;
  margin: auto auto;
}
</style>

<script>
const marked = require('marked');
marked.setOptions({
  renderer: new marked.Renderer(),
  gfm: true,
  tables: true,
  breaks: false,
  pedantic: false,
  sanitize: true,
  smartLists: true,
  smartypants: true,
});

import { loadCard, hideEditModal } from '../vuex/actions.js';
import tagList from '../components/tag-list.vue';
import noteForm from '../components/edit-note.vue';
import { deleteCard, markAsUseful, unmarkAsUseful } from '../services/cards.js';

const moment = require('moment');

export default {
  route: {
    data(transition) {
      this.loadCard(transition.to.params.id).then(() => {
        this.updateUrls();
      });
      transition.next();
    },
  },
  data() {
    return {
      deleteModalVisible: false,
      error: null,
      urls: [],
    };
  },
  vuex: {
    getters: {
      card: ({ currentCard }) => currentCard,
      editModalVisible: ({ cardEditor }) => cardEditor.modalVisible,
      formattedContent: ({ currentCard }) => marked(currentCard.content),
    },
    actions: {
      loadCard,
      hideEditModal,
      showEditModal: ({ dispatch }) => dispatch('SET_EDIT_MODAL_VISIBILITY', true),
      markCardUseful: ({ dispatch }, cardId) => {
        markAsUseful(cardId)
          .then((cardData) => dispatch('SET_CURRENT_CARD', cardData));
      },
      unmarkCardUseful: ({ state, dispatch }, cardId) => {
        unmarkAsUseful(cardId).then(() => {
          const newCardState = state.currentCard;
          newCardState.markedUsefulByUser = false;
          dispatch('SET_CURRENT_CARD', newCardState);
        });
      },
    },
  },
  methods: {
    dateFormatted(date) {
      return date ? moment(date).format('MMMM Do YYYY') : 'never';
    },
    doDelete() {
      deleteCard(this.card.id).then(() => {
        this.$router.go({ name: 'home' });
      }, (err) => {
        this.error = `Error: ${err.statusText}`;
      });
    },
    updateUrls() {
      const content = this.formattedContent;
      const urlRegex = /<a href="([^\"]+)"/g;
      const urls = new Set();
      let result;

      result = urlRegex.exec(content);
      while (result !== null) {
        urls.add(result[1]);
        result = urlRegex.exec(content);
      }

      this.urls = [...urls];
    },
    setUseful() {
      this.markCardUseful(this.card.id);
    },
    setUseless() {
      this.unmarkCardUseful(this.card.id);
    },
  },
  components: {
    tagList,
    noteForm,
  },
};
</script>