<template>
  <nav class="app-header">
    <div class="app-header__item app-header__title">
      <a v-link="{ name: 'home' }">Useful stuff</a>
    </div>
    <div class="app-header__item">
      <a id="toggle" @click.prevent="showModal = true" href="#">About</a>
    </div>

    <div class="app-header__search">
      <form @submit.prevent="doSearch" method="get">
        <div class="c-control c-control--addons">
          <input type="search" name="q" value="" class="c-input">
          <button type="submit" class="c-button">Search</button>
        </div>
      </form>
    </div>

    <div v-if="isAuthed" class="app-header__user has-text-right">
      <a class="c-button c-button--link" v-link="{ name: 'account' }">Account</a>
      <a class="c-button c-button--link" @click.prevent="doLogout" href="#">Log out</a>
    </div>

  <div class="c-modal" :class="{ 'c-modal--active': showModal }">
    <div class="c-modal__background" @click="showModal = false"></div>

    <div class="c-modal__content">
      <div class="c-box content">
        <h2>What is this?</h2>
        <ul>
          <li>Between us we have hundreds of years of experience</li>
          <li>New techniques and technologies are coming out all the time</li>
          <li>We have established ways of working, and a “house style” of systems and technologies</li>
          <li>We've had a lot of problems and worked out how to deal with them</li>
        </ul>

        <p>So how can we share what we've learned? How can we discover new things?</p>

        <p>With wikis and knowledge-bases, you search when you recognise that you have a problem you need to solve. But often something new will come along that you've never considered before, or do something old in a new way you hadn't thought of. You wouldn't know to search for it, so we need another way to discover that stuff.</p>

        <p>Another problem with wikis and knowledge-bases is that they decay. They're full of crap that was once new and is now so old as to be wrong. We need to be able to keep the old stuff that's still true and relevant, but discard or mark stuff that's been replaced or become bad practice.</p>

        <p>That's what this site tries to do.</p>
      </div>
    </div>

    <button class="c-modal__close" @click="showModal = false"></button>
  </div>
  </nav>

  
</template>

<style lang="scss">
@import '../css/_settings.colours.scss';
/* Header */
.app-header {
  display: flex;
  flex: 1 1 0;
  justify-content: space-between;
  align-items: center;
  background: $white;
  color: $colour-primary-invert;
  border-bottom: thin solid #ddd;
  padding: 1rem 0;
  margin-bottom: 2rem;
  box-shadow: 0 0 .5rem rgba(0,0,0,.75);

  & .app-header__item {
    font-size: 1.4rem;
    diplay: flex;
    flex: 0 1 auto;
    margin-right: 1rem;
  }

  & .app-header__title {
    margin-left: 3rem;

    & a, a:link, a:visited {
      color: $colour-primary-invert;
    }
  }

  & .app-header__user {
    diplay: flex;
    flex: 0 1 auto;
  }

  & .app-header__search {
    diplay: flex;
    flex: 1 1 auto;
    margin: 0 1rem;
  }
}
</style>

<script>
import { router } from '../main.js';
import { logout } from '../vuex/actions.js';

export default {
  data() {
    return {
      showModal: false,
    };
  },
  vuex: {
    getters: {
      getUsername: (state) => state.user.username,
      isAuthed: (state) => state.user.authenticated,
    },
    actions: {
      logout,
    },
  },
  methods: {
    doSearch(e) {
      const query = e.target.querySelector('input[name="q"]').value;
      router.go({ name: 'search', query: { q: query } });
    },
    doLogout() {
      this.logout();
      router.go({ name: 'login' });
    },
  },
};
</script>