<template>
  <div class="o-grid" :class="{ 'is-multiline': multiline }">
    <div v-for="card in cards" class="o-grid__item--1/4 grid">

      <article class="card">
        <a class="card__header" v-link="{ name: 'view-card', params: { id: card.id } }">
          {{ card.title ? card.title : abstract(card.content) }}
        </a>

        <div class="card__content" v-if="card.title">
          {{ abstract(card.content) }}
        </div>

        <div class="card__meta">
          <small>{{ card.owner.data.username }} – {{ dateFormatted(card.created) }}</small>
          <tag-list :tags="card.tags"></tag-list>
        </div>
      </article>

    </div>
  </div>
</template>

<style lang="scss">
@import '../css/_settings.colours.scss';

/* Cards */
.card {
  flex: 1 1 auto; /* Grow in height to fill the grid cell */
  transition: transform 200ms, background 300ms, box-shadow 400ms;

  background: $white;

  display: flex; /* spread contents apart to fill card */
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    box-shadow: 0 0 36px 0 rgba(0,0,0,.75);
    z-index: 20;
  }

  &__header {
    padding: .5rem;
    display: block;
    font-size: 1.25rem;
    color: $base-colour-link;
  }

  &__content {
    color: $card-content-colour;
    padding: .5rem;
  }

  &__meta {
    color: #333;
    padding: .5rem;
  }
}
</style>

<script>
import tagList from '../components/tag-list.vue';
const summarize = require('summarize-markdown');
const moment = require('moment');

export default {
  props: {
    cards: {
      required: true,
    },
    multiline: {
      required: false,
      default() {
        return false;
      },
    },
  },
  methods: {
    abstract(content) {
      // Shorten, then…
      let abstract = summarize(content.substr(0, 128));

      // … trim gracefully to last word-break if possible
      if (abstract.indexOf(' ') === -1) {
        return abstract;
      }

      abstract = `${abstract.substr(0, abstract.lastIndexOf(' '))}…`;

      return abstract;
    },
    dateFormatted: (date) => moment(date).format('MMMM Do YYYY'),
  },
  components: {
    tagList,
  },
};
</script>