<template>
  <div class="o-grid edit">
    <div class="o-grid__item o-grid__item--2/3">
        <input type="text" name="title" class="c-input" placeholder="Title" :value="getCardTitle" @input="setCurrentCardTitle">
        <textarea placeholder="Add your note here (Markdown or URL)" class="c-textarea" @input="setCurrentCardContent">{{ getCardContent }}</textarea>
    </div>

    <div class="o-grid__item o-grid__item--1/3">
      <div class="edit__meta o-vertical-grid">
        <div class="edit-meta__tags">
          <div class="c-control">
            <input class="c-input" placeholder="Pick tags from the list, or add your own (comma separated)" :value="getTagText" @input="setCurrentCardTags">
          </div>

          <tag-list :tags="getAllTags" :active-tags="getActiveTags" is-editable="true"></tag-list>
        </div>
        <div class="has-text-right">
          <button class="submit c-button" @click="doSave">Save</button>
          <button class="submit c-button c-button--link" @click="hideEditModal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.edit {
  .c-textarea {
    min-height: 30rem;
    max-height: 100%;
  }
}

.edit__meta {
  min-height: 30rem;
  max-height: 100%;
  .o-grid__item {
    flex: 1 1 100px;
  }
}
</style>

<script>
import tagList from './tag-list.vue';
import {
  setCurrentCardTags,
  setCurrentCardContent,
  setCurrentCardTitle,
  updateGlobalTagList,
  updateCard,
  hideEditModal,
} from '../vuex/actions.js';

export default {
  components: {
    tagList,
  },
  vuex: {
    actions: {
      updateCard,
      setCurrentCardTitle,
      setCurrentCardContent,
      setCurrentCardTags,
      updateGlobalTagList,
      hideEditModal,
    },
    getters: {
      getActiveTags: (state) => state.currentCard.tags,
      getCardTitle: (state) => state.currentCard.title,
      getCardContent: (state) => state.currentCard.content,
      getTagText: (state) => state.currentCard.tags.join(', '),
      getAllTags: (state) => state.tags.all.concat(
        state.currentCard.tags.filter(value => !state.tags.all.includes(value))
      ),
    },
  },
  created() {
    this.updateGlobalTagList();
  },
  methods: {
    doSave() {
      this.updateCard().then(() => this.hideEditModal());
    },
  },
};
</script>
