<template>
  <div class="c-box o-grid">
    <div class="o-grid__item o-grid__item--2/3 o-vertical-grid">
      <div class="c-control o-grid__item">
        <input type="text" name="title" class="c-input" placeholder="Title" @input="setCurrentCardTitle" :value="getCardTitle">
        <textarea placeholder="Add your note here (Markdown or URL)" class="c-textarea" @input="setCurrentCardContent">{{ getCardContent }}</textarea>
      </div>
    </div>

    <div class="o-grid__item o-grid__item--1/3 tag-list">
      <div class="c-control">
        <input class="c-input" placeholder="Pick tags from the list, or add your own (comma separated)" :value="getTagText" @input="setCurrentCardTags">
      </div>
      <tag-list :tags="getAllTags" :active-tags="getActiveTags" is-editable="true"></tag-list>

      <button class="submit c-button is-pulled-right" @click="createAndOpen">Save</button>
    </div>
  </div>
</template>

<script>
import tagList from './tag-list.vue';
import {
  setCurrentCardTags,
  setCurrentCardTitle,
  setCurrentCardContent,
  updateGlobalTagList,
  createCard,
} from '../vuex/actions.js';

export default {
  data() {
    return {
      card: {
        content: null,
        tags: [],
      },
    };
  },
  components: {
    tagList,
  },
  vuex: {
    actions: {
      createCard,
      setCurrentCardContent,
      setCurrentCardTags,
      setCurrentCardTitle,
      updateGlobalTagList,
    },
    getters: {
      getActiveTags: (state) => state.currentCard.tags,
      getCardContent: (state) => state.currentCard.content,
      getCardTitle: (state) => state.currentCard.title,
      getTagText: (state) => state.currentCard.tags.join(', '),
      getAllTags: (state) => state.tags.all.concat(
        state.currentCard.tags.filter(value => !state.tags.all.includes(value))
      ),
    },
  },
  created() {
    this.updateGlobalTagList();
  },
  methods: {
    createAndOpen() {
      this.createCard()
      .then(cardData => this.$router.go({ name: 'view-card', params: { id: cardData.id } }));
    },
  },
};
</script>
