<template>
  <div class="tag-list">
    <span 
      class="tag-list__tag tag"
      :class="{ 'is-active': activeTags.includes(tag) }"
      v-for="tag in tags"
      @click="handleClick(tag)"
    >{{ tag }}</span>
  </div>
</template>

<style lang="scss">
@import '../css/_settings.colours.scss';
/* Tags */

.tag-list {
  & .tag-list__tag {
    margin-right: .3rem;
    margin-bottom: .3rem;

    background-color: $tag-background-colour;
    color: $tag-foreground-colour;

    display: inline-block;
    border-radius: .25rem;
    padding: .25rem .5rem;

    font-size: .85rem;
  }
}
</style>

<script>
import { toggleTag } from '../vuex/actions.js';

export default {
  props: {
    isEditable: {
      required: false,
      default() {
        return false;
      },
    },
    tags: {
      required: true,
    },
    activeTags: {
      required: false,
      default() {
        return [];
      },
    },
  },
  methods: {
    handleClick(tag) {
      if (this.isEditable) {
        // dispatch tag-toggle action
        this.toggleTag(tag);
        return;
      }

      // Otherwise go to the link
      this.$router.go({ name: 'tag', params: { tag } });
    },
  },
  vuex: {
    actions: {
      toggleTag,
    },
  },
};
</script>